
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* ============================= */
    /*===== General =====*/
/* ============================= */
$body-font: "Roboto";

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$ultra: 800;

// Base Font
$base-font-family: $body-font, sans-serif;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: 1.6em;

// Colors
$black: #000000;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.6);
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);
$white: #FFFFFF;
$accent: #4285F4;



html,body{
  width:100%;
}
html,body{
  height: 100%;
}
body {
  background-size: cover;
  margin:0;
  padding:0;
  font-family:$base-font-family ;

}
.bg-cream {
  background-color: bisque;
  padding-bottom: 100px;
}
.mr-t-20 {
  margin-top: 20px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  color: #FFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #FFF;
}
.btn-wave,
button.btn-wave {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  border: none;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}
.btn-wave:hover,
.btn-wave:active,
.btn-wave:focus,
.btn-wave.hover {
  background-color: #2bbbad;
  color: #FFF !important;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  outline: none !important;
}

/* ============================= */
    /*===== Login Page =====*/
/* ============================= */
.form-control {
  border-radius: 0 !important;
}
.register-page .btn-default {
  float: left;
}
.user-register-heading {
  text-transform: uppercase;
  font-size: 17px;
  color: #424242;
  letter-spacing: 0.6px;
}
.remember-me {
  color: #424242;
}
.login-page {
  width: 85%;
  margin: auto;
  margin-top: 8%;
  border-radius: 4px;
  padding: 10px 40px 40px;
  background-color: #FFF;
  box-shadow: 0 7px 24px 2px rgba(0, 0, 0, 0.1), 5px 7px 17px 2px rgba(0, 0, 0, 0.15);
}
.login-logo {
  width:100%;
}
.form ::-webkit-input-placeholder {
  color: rgba(0,0,0,0.6) !important;
}
.login-page .logo {
  margin-bottom: 20px;
}
.login-page .form {
  position: relative;
  z-index: 1;
  max-width: 360px;
}

.login-form .checkbox {
  text-align: left;
  margin-bottom: 26px;
}
.login-form .checkbox label {
  margin-top: 4px;
  padding: 0 13px 0 2px;
  vertical-align: middle;
}
.login-form .checkbox input {
  width: auto;
  margin: 0;
  padding: 0;
}
.form button {
  padding: 8px 0;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

/* ============================= */
    /*===== Register Page =====*/
/* ============================= */
.register-page {
  background-color: #424242;
  padding: 20px 45px 45px;
  border-radius: 4px;
  margin-top: 4%;
  box-shadow: 0 7px 24px 2px rgba(0, 0, 0, 0.1), 5px 7px 5px 0 rgba(0, 0, 0, 0.15);
}
.register-page label {
  color: #FFF;
}
.register-page .form-control::-webkit-input-placeholder {
  opacity: 0.8;
}
.register-page .form-control {
  background-color: #F2F2F2;
}
.register-page .user-register-heading {
  font-size: 22px;
}
.register-page .logo img {
  margin: 0 auto;
}
.user-register-heading {
  font-weight: 400;
  padding-bottom: 15px;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 25px;
  letter-spacing: 1px;
}
.register-page .btn-group {
  width: 100%;
}
.register-page .btn {
  width: 48%;
  margin: 20px;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 2px;
  /*display: inline-block;*/
}
@media (max-width: 767px) {
  .register-page .btn {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    /*display: inline-block;*/
  }
}
.logo-main-block {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.logo-main-block img {
  margin: 0 auto;
}

.navbar-header .heading {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: 600;
  color: #FFF;
}
.nav-bar {
  padding: 7px 0 3px;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.08);
  background-color: #2F3180;
}
.home-main-block blockquote {
  margin-top: 50px;
  margin-left: 120px;
  width: 60%;
  color:gray;
  font-size: 15px;
  font-weight: 600;
  background-color: whitesmoke;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.5);
  border-color:yellow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 992px) {
  .home-main-block blockquote {
    margin-left: 0;
  }
}
.main-block-heading {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.home-main-block .btn_block {
  margin-top: 50px;
  text-align: center;
  margin-left: -15px;
}
.home-main-block .btn_block .btn {
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
#question_block {
  padding: 10px 0 30px;
}
.question {
  margin-bottom: 15px;
}
.myQuestion {
  display: none;
}
.myQuestion.active {
  display: block;
}
.myQuestion blockquote {
  margin: 20px 0 32px;
}
.myQuestion form {
  margin-left: 5px;
}
.myQuestion input {
  margin-bottom: 15px;
}
.myQuestion span:nth-child(odd) {
  color: black;
}
.myQuestion span {
  font-size: 15px;
  margin-left: 5px;
}
.myQuestion .btn-block {
  display: inline-block;
  width: 30%;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #000000;
  border:solid 2px #52c3f0;
  
}
.myQuestion .btn-block:hover{
  background-color: #4285F4;
  color: white;
  border:solid 2px #4285F4;
}
.myQuestion .code {
  background-color: #f1f1f1;
  padding: 12px;
}
#clock span {
  margin-top: 4px;
  color: #FFF;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*======== Session Modal ========*/
.sessionmodal {
  visibility: hidden;
  position: fixed;
  top: -120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 400px;
  border-radius: 2px;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  box-shadow: 3px 4px 14px 0 rgba(0,0,0,0.12);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-delay: 0.3s;
  text-align: center;
  z-index: 9999999999;
  font-weight: 600;
}
.sessionmodal.active {
  visibility: visible;
  top: 10px;
}
.navbar-collapse.collapse {
  display: block !important;
}
@media (max-width: 992px){
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #FFF;
      background-color: transparent;
  }
  .main-block-heading {
    font-size: 40px;
    letter-spacing: 5px;
  }
}

/*======== Quiz Main Block ======*/
.topic-block {
  margin-bottom: 25px !important;
}
.quiz-main-block {
  margin-top: 30px;
}
.card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: rgba(50, 50, 50, 0.8);
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}
.white-text {
    color: #fff !important;
}
.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 22px;
}
.card .card-content p {
    margin: 0;
    color: rgba(255,255,255,0.8);
    font-size: 14px;
}
.card .card-action:last-child {
    border-radius: 0 0 2px 2px;
}
.card .card-action {
    position: relative;
    border-top: 1px solid rgba(160,160,160,0.4);
    padding: 8px 24px;
}
.card .card-action a {
  color: #FFF;
}
.topic-detail {
  margin-top: 13px;
  list-style-type: none;
  -webkit-padding-start: 0;
}
.topic-detail li {
  margin-bottom: 6px;
  position: relative;
}
.topic-detail li .fa {
  position: absolute;
  right: 0;
  top: 3.5px;
  color: #424242;
}
.result-table {
  margin: 40px 0;
}
.question-block-tabs {
  padding: 20px 0;
}
.question-block-tabs .tab-content {
  padding: 20px 0;
}

//custom
.one-edge-shadow {
  background-color: #FCCF14;
  padding: 5%;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
}
.q-block{
  background-color:whitesmoke;
  padding: 2%;
  color:black;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-label{
    color: rgb(65, 63, 63);
    font-size: 5px !important;
    cursor:pointer;
    border-bottom: 3px solid whitesmoke;
    padding: 5px;
    margin-right: 15px;
}
.choices-box{
  background-color:#f7f2f2;
  display: flex;
  flex-flow: row wrap;
  margin-top: 5px;
  padding: 10px;
}
.choices-box .form-label input:checked + span{
  background-color: rgb(9, 122, 75);
  padding: 6px;
  color:whitesmoke;
  border-radius: 25px;
}
.form-label:hover{
  border-bottom-color: rgb(9, 122, 75) ;
  font-weight: bold;
}
label:first-child {
  margin-top: 1em;
}
.testbg{
  background-size: 100% 100%;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  overflow-y: scroll;
}
.footer{
  padding:10px;
  color: #FFF;
  background-color:transparent; 
  width: 100%; 

}

.name{
  font-family:'Fredoka One', cursive;
  color:whitesmoke;
}
.instruction{
  background-color: crimson;
  display: none;
  color: whitesmoke;
  padding: 10px;
}
.ins-container{
  flex-flow: row wrap;
}
.box{
  display:none;
}

.login-form>.form-group>label {
  display: block;
  margin: 0 0 10px;
  color: $gray;
  font-size: 12px;
  font-weight: $semibold;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.login-form>.form-group>input {
  outline: none;
  display: block;
  background: rgba($black, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 15px;
  color: $gray;
  font-family: inherit;
  font-size: inherit;
  font-weight: $semibold;
  line-height: inherit;
  transition: 0.3s ease;
}
.underline{
  text-decoration: underline;
}
.ajax-loader {
  visibility:hidden;
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background: rgba(252, 249, 249,0.5);
  z-index: 999999;
}

.ajax-loader img {
  width: 20%;
  position: relative;
  left: 40%;
  top:30%;
}

.sidebar {
  min-width: 62px;
  width: 50%;
  display:inline-block;
  height:100%;
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;

}
.sidepanel{
  display: none;
  position: absolute;
}
.home-main-block{
  position: relative;
}
.review-btn{
  color:gray;font-weight:800; padding:10px;background-color:white;width: 25%;
}

.base {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 3px;
  text-align: center;
  border: none;
}
.span-ans{
  display: inline-block;
  width: 30px;
  height: 10px;
  background-color: #46D96C;
}
.span-rev{
  display: inline-block;
  width: 30px;
  height: 10px;
  background-color: #F8D612;
}
.span-unans{
  display: inline-block;
  width: 30px;
  height: 10px;
  background-color: #EE6266;
}
.span-nvw{
  display: inline-block;
  width: 30px;
  height: 10px;
  background-color: #e4e8eb;
}
.inline{
  display: inline;
  font-size: small;
  font-weight: 300;
}
.bg-white{
  background-color:white;
  color: black;
  padding: 10px;
  height: 100%;
}

.ques-image>span{
  background-color: #F2F2F2;
  padding:7px;
  color: black;
  font-weight: 500;
  align-items: center;
  margin-bottom: 0;
}
.profile-form{
  padding: 3%!important;
  border-radius: 10px;
  background-color: #EAEEEB;
}
.form-title{
  background-color: #009EF7; 
  color:white;
  padding:15px 30px 15px 15px;
  display: inline-block;
  border-top-right-radius: 25px;
  border-bottom-right-radius:25px ;
}
.input-line{
  border-top: none;
  border-right: none;
  border-left:none ;
  background: transparent;
  border-bottom-style: solid;
  border-bottom-color: gray;
  box-shadow: none;
  margin-bottom: 2rem;
  margin-top: -1.5rem;
  }
  .hr-style{
    border:1px solid rgb(214, 212, 212) ;
    
  }



